.ShowStrategy {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #efefef;
  height: 100vh;
  padding: 2rem;
  text-align: center;
}
.ShowStrategy h2 {
  line-height: 1.25;
}
